!.env.example
!.env.test
!microservices/ai
!microservices/deploy
!microservices/gdrive
!microservices/pm4dev
.DS_Store
.env
.env
.env.*
.output
.vercel
/.svelte-kit
/build
microservices/*
node_modules
Thumbs.db
vendor/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
